*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 29, 29);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(190, 21, 21, 0.1) ;
    font-size: 9vmin;
    color: #4f772d;
    border: none;
    
}
.box:hover{
background-color: #b5d077;
}

#reset-btn{
    background-color: #ecf39e;
    height: 7vmin;
    width: 18vmin;
    font-size: 2.5vmin;
    border-radius: 1rem;
    color:#132a13 ;
    border: none;
    font-weight: bold;

}
#reset-btn:hover{
    background-color:#ecf770 ;
}